<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>GuesseWhat</title>
  </head>
  <body>
    <h1>Bem vindo ao GameGuesseWhat</h1>
    <form action="{{ url_for('home')}}" method="post">
    
        <span>Adivinhe o número em que o computador está pensando.</span>
        <br />
        <label>Digite de 1 a 5</label>
        <br/>
        <input type="text" placeholder="Digite um número:" name="valor" />
        <button>Enviar</button>
    </form>
  </body>
</html>
